@{
    ViewData["Title"] = "Contato";
}

<div class="text-center">
       <h1>Contato</h1>
       <nav>
           <ul>
               <li>Contato: (21)99999-9999</li>
               <li>E-mail: agencia@gmail.com</li>
           </ul>
       </nav>
</div>
