html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.card-1,
.card-2,
.card-3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    bottom: 180px;
    width: 300px;
    margin-top: 110px;
    height: 290px;
    background-color: white;
    border: 1px solid rgba(107, 98, 255, 0.2);
    box-shadow: 0px -7px 6px -3px rgba(107, 98, 255, 0.2);
}

.box-text-1,
.box-text-2,
.box-text-3 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 90%;
    height: 150px;
    margin: 0 auto;
}

.risk {
    text-decoration: line-through;
    color: #ff496d;
}

.green {
    color: rgb(19, 250, 19);
}

.box-text-1 h2,
.box-text-2 h2,
.box-text-3 h2 {
    color: #3f3d56;
    font-size: 1.6em;
    font-family: "Open Sans Condensed", sans-serif;
    text-align: center;
}

.box-btn {
    display: flex;
    justify-content: center;
}

    .box-btn button {
        text-transform: capitalize;
        width: 150px;
        padding: 4%;
        border-radius: 10px;
        border: 2px solid #3f3d56;
        color: #3f3d56;
        font-size: 1.3em;
        top: 97%;
        cursor: pointer;
        position: relative;
        font-family: "Open Sans Condensed", sans-serif;
        transition: 1s all;
    }

    .box-btn button:hover {
            color: white;
            border: 1px solid white;
            transition: 0.5s;
            background-color: #6b62ff;
    }
